ClearView.Sarcyk.accdb.src/tbldefs/Collections-Splitted.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Collections-Splitted" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Collections-Splitted">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="CollectionId" index-key="CollectionStubId " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="CollectionSplittedId" index-key="CollectionId " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="EmployeeId" index-key="EmployeeId " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="EquipmentId" index-key="EquipmentId " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="Id" index-key="Id " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="LocationId" index-key="LocationId " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PrimaryKey" index-key="Id " primary="yes" unique="yes" clustered="no" order="asc"/>
        <od:tableProperty name="Orientation" type="2" value="0"/>
        <od:tableProperty name="OrderByOn" type="1" value="0"/>
        <od:tableProperty name="DefaultView" type="2" value="2"/>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
        <od:tableProperty name="TotalsRow" type="1" value="0"/>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"/>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
        <od:tableProperty name="HideNewField" type="1" value="0"/>
        <od:tableProperty name="BackTint" type="6" value="100"/>
        <od:tableProperty name="BackShade" type="6" value="100"/>
        <od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"/>
        <od:tableProperty name="AlternateBackShade" type="6" value="95"/>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Id" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CollectionStubId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1913"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CollectionId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1470"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CollectionDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1755"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="EmployeeId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT Employees.Id, Employees.FullName FROM Employees ORDER BY Employees.FullName; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="2"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;2268"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="LocationId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3660"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT Locations.id, Locations.LocationName, BusinessPartners.Company FROM Locations INNER JOIN BusinessPartners ON Locations.BusinessPartnerId = BusinessPartners.ID ORDER BY Locations.LocationName; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="3"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1701;1701"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="EquipmentId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2858"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT Equipments.ID, [SerialNumber] &amp; &quot; - [ &quot; &amp; [EquipmentTypeName] &amp; &quot; ]&quot; AS Equipment FROM EquipmentType INNER JOIN Equipments ON EquipmentType.Id = Equipments.EquipmentTypeId ORDER BY [SerialNumber] &amp; &quot; - [ &quot; &amp; [EquipmentTypeName] &amp; &quot; ]&quot;; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="3"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1134;2268"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TransactionType" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1965"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Value List"/>
              <od:fieldProperty name="RowSource" type="12" value="Cash;Credit Card"/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="1"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="0twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="0"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Split" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Percent"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Amount" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CustomFee" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1454"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Notes" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1454"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SplittedAmount" minOccurs="0" od:jetType="double" od:sqlSType="float" od:expression="[Amount]*[Split]" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="Expression" type="12" value="[Amount]*[Split]"/>
              <od:fieldProperty name="ResultType" type="2" value="7"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="Description" type="10" value="[Amount]*[Split]"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ServicePercentage" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1568"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Percent"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ServiceFee" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1425"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ServiceFeeAmount" minOccurs="0" od:jetType="currency" od:sqlSType="money" od:expression="IIf([TransactionType]&lt;&gt;&quot;xxxx&quot;,([SplittedAmount]*[ServicePercentage])+[ServiceFee],0)" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="Expression" type="12" value="IIf([TransactionType]&lt;&gt;&quot;xxxx&quot;,([SplittedAmount]*[ServicePercentage])+[ServiceFee],0)"/>
              <od:fieldProperty name="ResultType" type="2" value="5"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="2663"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="Description" type="10" value="Original:  IIf([TransactionType]=&quot;Cash&quot;,([Amount]*[ServicePercentage])+[ServiceFee],0)"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CreditCardPercentage" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2498"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Percent"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CreditCardFee" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1763"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CreditCardFeeAmount" minOccurs="0" od:jetType="currency" od:sqlSType="money" od:expression="([SplittedAmount]*[CreditCardPercentage]+[CreditCardFee])" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="Expression" type="12" value="([SplittedAmount]*[CreditCardPercentage]+[CreditCardFee])"/>
              <od:fieldProperty name="ResultType" type="2" value="5"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="2513"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
              <od:fieldProperty name="Description" type="10" value="([SplittedAmount]*[CreditCardPercentage]+[CreditCardFee])"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="LocationPercentage" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2265"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Percent"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="LocationFee" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1530"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="IsApproved" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="LocationFeeAmount" minOccurs="0" od:jetType="currency" od:sqlSType="money" od:expression="[LocationFee]+([Amount]*[LocationPercentage])" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="Expression" type="12" value="[LocationFee]+([Amount]*[LocationPercentage])"/>
              <od:fieldProperty name="ResultType" type="2" value="5"/>
              <od:fieldProperty name="ColumnWidth" type="3" value="2280"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="[LocationFee]+([Amount]*[LocationPercentage])"/>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;-$#,##0.00"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="4105"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UpdatedAt" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2475"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DefaultValue" type="12" value="Now()"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UpdatedBy" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
